<!DOCTYPE html>
    <html>
        <head>
         <title>Welcome to dashboard</title>
         <link rel="stylesheet" a href="../Static/css/dashboard.css" >
         <meta name="viewport"content="width=device-widgth,initial-scale=1.0">
        </head>
        <body>
            <div class="picture">
                <img src="../Static/images/myimage.jpg" width="200px" height="200px">
              </div>
            <div class="paragraph">
                <p>Monisha D</p>
                <p>monishalatha415@gmail.com</p>
                <p>+91 9597721947</p>
                <p><a href="https://www.linkedin.com/in/monisha-moni-44234b1b3">https://www.linkedin.com/in/monisha-moni-44234b1b3</a></p>
            </div>
            <div class="Details">
                <h2>Educational Details</h2>
                <table>
                    <tr>
                        <th>Designation</th>
                        <th>Board</th>
                        <th>Institution Name</th>
                        <th>Year Of Passing</th>
                        <th>Percentage</th>
                    </tr>
                    <tr>
                        <td>B.E</td>
                        <td>Anna University</td>
                        <td>Adhiyamaan College of Engineering</td>
                        <td>2021</td>
                        <td>83.39</td>
                    </tr>
                    <tr>
                        <td>HSC</td>
                        <td>StateBoard</td>
                        <td>Sri Saraswathi HSS</td>
                        <td>2017</td>
                        <td>77.5</td>
                    </tr>
                    <tr>
                        <td>SSLC</td>
                        <td>StateBoard</td>
                        <td>St.Pauls Matric School</td>
                        <td>2015</td>
                        <td>95</td>
                    </tr>
                </table>
                <h2>Known Programming Languages</h2>
                <ul>
                    <li>C</li>
                    <li>C++</li>
                    <li>Java</li>
                </ul>
                <h2>Personal Details</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Father name</th>
                        <th>DOB</th>
                    </tr>
                    <tr>
                        <td>Monisha D</td>
                        <td>Dhandapani</td>
                        <td>15/04/2000</td>
                    </tr>
                </table>
                <h2>Area of Interest</h2>
                <ul>
                    <li>Python</li>
                    <li>Machine Learning</li>
                    <li>BigData Analytic</li>
                </ul>
            </div>
        </body>
    </html>