<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link  rel="stylesheet" href="../static/css/home.css">
        <meta name="view port" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div class="name1">
            <h2>Welcome to Login Page</h2>
            <form action="dashboard.html" method="POST">
                <label>User Name:</label>
                <input type="text" place holder="enter the user name"required><br><br>
                <label>Password:</label>
                <input type="text" place holder="enter the password"required><br><br>
                <a href="Register.html">Create new account</a><br><br>
                <input type="Submit">
            </form>
        </div>
    </body>
</html>