<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <link  rel="stylesheet" href="../static/css/home.css">
        <meta name="view port" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
        <div class="name">
            <h2>Welcome to Registration Page</h2>
            <form action="dashboard.html" method="POST">
                <label>First Name:</label>
                <input type="text" place holder="enter your first name"required><br><br>
                <label>Last Name:</label>
                <input type="text" place holder="enter your last name"required><br><br>
                <label>Password:</label>
                <input type="text" place holder="enter the password"required><br><br>
                <button><a href="login.html">Submit</a></button>
            </form>
        </div>
    </body>

</html>